.odd {
    background-color: hsl(351, 100%, 86%);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#two {
    color: rgb(0,0,255);
    font-size: 36px;
}

.odd#three {
    font-size: 24px;  
}

#four {
    background-color: hsl(120, 72%, 75%);
    font-size: 24px;
    font-weight: bold;
}